// Layout styles for app-kp.blade.php
// Global layout variables and styles

:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    --font-family: 'Inter';
}

body,
html {
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #e9e8e7 50%, rgba(255, 0, 0, 0.35) 50%);
    min-height: 100dvh;
    margin: 0;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font-family), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variation-settings: normal;
}

.app_container {
    width: 1220px;
    min-height: 100dvh;
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media only screen and (max-width: 1220px) {
    .app_container {
        width: 94%;
    }
}


// Alpine.js cloak utility
[x-cloak] {
    display: none !important;
}
