.survey-question {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 41px;
        background-color: #e0e0e0;
        padding: 0 10px;

        border-top: 1px solid #fff;
        border-bottom: 1px solid #bfbfbf;
        @media screen and (max-width: 768px) {
            gap: 5px;
        }

        .timer {
            width: 33%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            white-space: nowrap;
        }

        .questions {
            text-align: center;
            width: 15%;
            white-space: nowrap;
            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: left;
            }
        }

        .actions {
            text-align: right;
            width: 33%;
            @media screen and (max-width: 768px) {
                width: 100%;
                //text-align: left;
                margin-bottom: 3px;
            }
        }
    }

    .question {
        padding: 10px 30px;
        //padding-left: 30px;
        height: 71px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #bfbfbf;
        font-weight: bold;
    }

    .answers {
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            gap: 10px;
        }
        display: flex;
        padding: 10px 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #bfbfbf;
        min-height: 200px;

        li {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .answer-year-container {
            text-align: center;

            .year-answer {
                border-radius: 8px;
                height: 70px;
                width: 300px;
                text-align: center;
                font-size: 3vw;
            }
        }

    }

    .submit {
        text-transform: uppercase;
        font-weight: bold;;
        text-align: center;
        padding: 10px 10px;
        border-top: 1px solid #fff;

        .enter {
            position: relative;
            display: inline-block;
            font-weight: normal;
            font-size: 11px;
            //background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(166, 166, 168, 1) 100%);
            padding: 3px 5px;
            top: -35px;
        }
    }
}

[data-tooltip] {
    cursor: help;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: .25em;
}

