.survey-question {
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 41px;
        background-color: #e0e0e0;
        padding: 0 1rem;

        //border-top: 1px solid #fff;
        border-bottom: 1px solid #bfbfbf;
        @media screen and (max-width: 768px) {
            gap: 5px;
        }

        .timer {
            width: 33%;
            @media screen and (max-width: 768px) {
                width: 45%;
            }
            white-space: nowrap;
        }

        .questions {
            text-align: center;
            width: 15%;
            white-space: nowrap;
            @media screen and (max-width: 768px) {
                width: 45%;
                text-align: right;
            }
        }

        .actions {
            text-align: right;
            width: 33%;
            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
                margin-bottom: 3px;
            }
        }
    }

    .question {
        display: flex;
        justify-content: space-between;
        padding: 10px 1rem;
        min-height: 71px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #bfbfbf;
        font-weight: bold;
    }

    .answers {
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            gap: 10px;
        }
        display: flex;
        padding: 10px 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #bfbfbf;
        min-height: 200px;

        ol {
            list-style: auto;
            padding-left: 40px;
        }

        li {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .answer-year-container {
            justify-content: center;
            display: flex;

            padding-top: 50px;

            .year-answer {
                outline: none;
                border-radius: 8px 0 0 8px;
                height: 70px;
                width: 300px;
                text-align: center;
                font-size: 25px;
                @media screen and (max-width: 550px) {
                    width: 60%;
                    font-size: 25px;
                    height: 40px;
                }
            }

            @media screen and (max-width: 550px) {
                .submit-button {
                    height: 40px;
                }
            }
        }

        .answer-date_month-container {
            justify-content: center;
            display: flex;
padding-top: 50px;
            outline: none;
            border-color: unset;

            input,
            select {
                outline: none;
                font-size: 25px;
                font-family: inherit;
                line-height: 1.2;
                width: 190px;
                &:focus {
                    outline: none;
                }
            }

            input {
                border-radius: 8px 0 0 8px;
                height: 70px;
                text-align: center;
                @media screen and (max-width: 550px) {
                    width: 60%;
                    height: 40px;
                }
            }

            select {
                border-radius: 0;
                height: 70px;
                text-align: center;
                border-left: unset;
                @media screen and (max-width: 550px) {
                    height: 40px;
                }
            }


            @media screen and (max-width: 550px) {
                .submit-button {
                    height: 40px;
                }
            }
        }

    }

    .submit {
        text-transform: uppercase;
        font-weight: bold;;
        text-align: center;
        padding: 10px 10px;
        border-top: 1px solid #fff;

        .enter {
            position: relative;
            display: inline-block;
            font-weight: normal;
            font-size: 11px;
            //background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(166, 166, 168, 1) 100%);
            padding: 3px 5px;
            top: -35px;
        }
    }
}

[data-tooltip] {
    cursor: help;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: .25em;
}

/* Submit Button Styles */
.submit-button {
    max-height: 70px;

    background-color: #007BFF; /* Blue background */
    color: #fff; /* White icon color */
    //border: 1px solid black; /* No border */
    border-left: none;
    //border-radius: 5px; /* Rounded corners */
    border-radius: 0 8px 8px 0;

    padding: 15px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 24px; /* Font size for icon */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition for hover effect */
    display: flex; /* Flexbox for centering icon */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
}

//.submit-button:hover {
//    background-color: #007BFF99; /* Darker blue on hover */
//    transform: scale(1.05); /* Lift effect on hover */
//}

/* Responsive Styles */
@media (max-width: 600px) {
    .submit-button {
        padding: 10px; /* Smaller padding on small screens */
        font-size: 20px; /* Smaller font size for icon */
    }
}

.playAudio {
    width: 40px;
    float: right;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale3d(1.1, 1.1, 1.1);
        transform: rotate3d(1, 1, 1, 10deg);
    }
}


